

@{
    ViewBag.Title = "Results";
}



<style>
    h1 {
        text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);
    }
</style>

<h1 style="color: cornflowerblue">HAPPY BIRTHDAY</h1>


<h2 style="font-style: italic">Thank you @ViewBag.ResultName</h2>


<div style="padding-left: 10px">
    <h3> Your birthday is on @ViewBag.ResultDB, And...</h3>

    <h3>You have selected the folowing balloons:</h3>
    <ul>
        @{
            foreach (var balloon in ViewBag.BalloonList)
            {
                <li style="font-size: 20px; color:@balloon">@balloon</li>
            }
        }
    </ul>
</div>
